# Deep Learning
torch>=2.1.0
torchvision>=0.16.0

transformers==4.44.0
diffusers>=0.21.0

# Computer Vision / Image Processing
opencv-python-headless

Pillow>=10.0.0
scikit-image>=0.21.0

# Data Handling
numpy>=1.26.0
pandas

# Utilities
tqdm>=4.66.0


# Web / GUI / App
streamlit


# Optional (if you use audio/video or ML utilities)

scipy>=1.11.0


